<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers"
	xmlns:captchaeu="http://typo3.org/ns/CaptchaEU/Typo3/ViewHelpers"
	data-namespace-typo3-fluid="true">

	<formvh:renderRenderable renderable="{element}">
		<f:variable name="conf" value="{captchaeu:configuration()}" />

		<f:if condition="{conf.enabled}">
			<f:then>
				<f:asset.script defer="1" async="1" identifier="captchaeu" data="{conf.sdkDataAttributes}" src="<f:format.htmlspecialchars>{conf.SDKJSPath}</f:format.htmlspecialchars>" />
				<f:asset.script defer="1" identifier="captchaeu-init" src="EXT:captchaeu_typo3/Resources/Public/JavaScript/Frontend/CaptchaEU.js" />

				<f:render partial="Field/Field" arguments="{element: element, doNotShowLabel: 1}" contentAs="elementContent">
					<f:if condition="{conf.isWidgetMode}">
						<f:then>
							<div class="cpt_widget" data-captchaeu-widget-for="{element.uniqueIdentifier}" data-key="{conf.keyPublic}" data-theme="{conf.theme}"></div>
						</f:then>
					</f:if>

					<f:form.hidden
						property="{element.identifier}"
						id="{element.uniqueIdentifier}"
						value="1"
						data="{'captchaeu-field': element.uniqueIdentifier, 'captchaeu-public-key': conf.keyPublic, 'captchaeu-host': conf.host, 'captchaeu-mode': conf.mode}"
						additionalAttributes="{formvh:translateElementProperty(element: element, property: 'fluidAdditionalAttributes')}"
					/>
				</f:render>
			</f:then>
		</f:if>
	</formvh:renderRenderable>
</html>
