<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers"
	xmlns:captchaeu="http://typo3.org/ns/CaptchaEU/Typo3/ViewHelpers"
	data-namespace-typo3-fluid="true">

	<formvh:renderRenderable renderable="{element}">
		<f:variable name="conf" value="{captchaeu:configuration()}" />

		<f:if condition="{conf.enabled}">
			<f:then>
				<f:asset.script defer="1" async="1" identifier="captchaeu" src="<f:format.htmlspecialchars>{conf.SDKJSPath}</f:format.htmlspecialchars>" />

				<f:render partial="Field/Field" arguments="{element: element, doNotShowLabel: 1}" contentAs="elementContent">
					<f:if condition="{conf.isWidgetMode}">
						<f:then>
							<div class="cpt_widget" data-key="<f:format.htmlspecialchars>{conf.keyPublic}</f:format.htmlspecialchars>" data-theme="<f:format.htmlspecialchars>{conf.theme}</f:format.htmlspecialchars>"></div>
						</f:then>
					</f:if>

					<f:form.hidden
						property="{element.identifier}"
						id="{element.uniqueIdentifier}"
						value="1"
						additionalAttributes="{formvh:translateElementProperty(element: element, property: 'fluidAdditionalAttributes')}"
					/>

					<span
						data-captchaeu-mode="<f:format.htmlspecialchars>{conf.mode}</f:format.htmlspecialchars>"
						data-captchaeu-key="<f:format.htmlspecialchars>{conf.keyPublic}</f:format.htmlspecialchars>"
						data-captchaeu-host="<f:format.htmlspecialchars>{conf.host}</f:format.htmlspecialchars>"
						data-captchaeu-field-id="<f:format.htmlspecialchars>{element.uniqueIdentifier}</f:format.htmlspecialchars>"
						style="display:none;"
					></span>

					<f:asset.script defer="1" identifier="captchaeu-frontend" src="EXT:captchaeu_typo3/Resources/Public/JavaScript/Frontend/CaptchaEU.js" />
				</f:render>
			</f:then>
		</f:if>
	</formvh:renderRenderable>
</html>
